.cv-container {
  display: grid;
  height: 1200px;
  margin: 80px 40px 10px 40px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 55px 160px auto 30px;
  grid-template-areas:
    "control-panel control-panel control-panel control-panel control-panel control-panel control-panel control-panel"
    "cv-header cv-header cv-header cv-header cv-header cv-header cv-header cv-header"
    "left-sidebar left-sidebar left-sidebar right-sidebar right-sidebar right-sidebar right-sidebar right-sidebar"
    "footer footer footer footer footer footer footer footer";
  grid-gap: 0.5rem;
  border: 1px solid blue;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.5rem;
}

#control-panel {
  grid-area: control-panel;
  background: lightgrey;
}

#title-controller-box {
  grid-column: 1/4;
  grid-row: 1/1;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 30px 10px 0px;
  text-align: right;
}

#cv-title-label {
  margin-left: 20px;
  margin-right: 15px;
  color: black;
}

#title-controller-box textarea {
  resize: none;
  width: 80%;
  border: 3px solid transparent;
  font-size: 25px;
  font-weight: bold;
  background: none;
  color: darkblue;
}

#title-controller-box textarea:hover {
  cursor: pointer;
  border: 3px solid darkblue;
  border-radius: 4px;
}

#cv-header {
  grid-area: cv-header;
}

.content {
  display: contents;
}

.hidden-element {
  display: none;
}

#background-img {
  width: 100%;
  height: 160px;
  grid-column: 1/9;
  grid-row: 1/1;
  cursor: pointer;
}

#cv-header-candidate {
  grid-column: 1/4;
  grid-row: 1/1;
  padding: 20px 30px 0px 0px;
  text-align: right;
}

#cv-header-candidate textarea {
  width: 80%;
  line-height: 30px;
  text-align: right;
  text-transform: uppercase;
  background: none;
  color: white;
}

.name {
  font-size: 28px;
  font-weight: bold;
}

.role {
  font-size: 15px;
  font-weight: bold;
}

#profile-photo {
  grid-column: 1/9;
  grid-row: 1/1;
  width: 170px;
  height: 170px;
  cursor: pointer;
  position: relative;
  top: 75px;
  border-radius: 50%;
  border: 7px solid white;
  justify-self: center;
  z-index: 1;
}

.section {
  padding: 10px;
  border: 1px solid blue;
}

.inline-button {
  display: flex;
  justify-content: space-between;
}

.textarea {
  width: 100%;
  font-family: Arial, Helvetica, sans-seriff;
  /* height: 80%; */
}

.sidebar {
  display: grid;
  grid-template-rows: 130px auto;
  background: lightgrey;
  padding: 15px;
}

#left-sidebar {
  grid-area: left-sidebar;
}

#right-sidebar {
  grid-area: right-sidebar;
}

#right-sidebar .align-right {
  text-align: right;
  float: right;
}

.contact {
  margin: 4px 0px;
  padding: 0px 5px 0px 5px;
  display: block;
  width: 100%;
}

#left-sidebar .bottom-section {
  display: grid;
  /* grid-template-rows: max-content; */
}

#right-sidebar .bottom-section {
  display: grid;
  grid-template-rows: max-content;
}

.input-field {
  padding: 5px;
}

#recent-projects {
  height: auto;
}

#work-experience {
  height: auto;
}

#educations {
  height: auto;
}

#spoken-language {
  height: auto;
}

footer {
  grid-area: footer;
  background: lightgrey;
}
